$button-action-add-bg: $theme-green;
$button-action-add-colour: #FFF;

.button {
  border-radius: 50%;
  background: transparent;
  border: 1px solid #CCC;
  padding: 2.5px 3px;
  line-height: 13px;

  &:focus, &:active {
    outline: none;
  }


  &.--action-add {
    background: $button-action-add-bg;
    color: $button-action-add-colour;
    border: darken($button-action-add-bg, 20%);

    .isvg {
      svg {
        fill: $button-action-add-colour;
      }
    }
  }
}
