$input-bg: $theme-colour; 
$input-colour: $theme-white;
$input-active-colour: $theme-black;

input {
  background: rgba($input-bg, .25);
  padding: 2.5px;
  border-radius: 2.5px;
  border: 1px solid transparent;
  color: $input-colour;

  &:focus, &:active{
    outline: 0;
    background: rgba($input-bg, .75);
    color: $input-active-colour;
  }
}
