$progress-bar-border-colour: #FFF;
$progress-bar-bg: #111;
$progress-bar-default-bg: #CCC;

.progress-bar--wrapper {
  border: 1px solid rgba($progress-bar-border-colour, .2);
  width: 100%;
  border-radius: 2.5px;
  background: rgba($progress-bar-bg, .2);
  height: 5px;
  position: relative;
 
  .progress-bar--label {
    font-size: 10px;
    position: absolute;
    right: 0;
    top: -12.5px;
  } 

  .progress-bar {
    background: $progress-bar-default-bg;
    height: 100%;
  }
}
