$search-list-bg: #FFF;

.search-result-list--wrapper {
  list-style: none;
  border: 1px solid #DDD;
  padding: 0;
  margin: 0;
  background: $search-list-bg;
  max-width: 100%;
  overflow: auto;

  .search-result-item--wrapper {
    display: flex;
    border-bottom: 1px solid #DDD;
    align-items: center;

    .search-result-item--name {
      font-size: 14px;
      text-transform: uppercase;
      width: 60%;
    }
  }

  .tv-show-poster--wrapper {
    height: 30px;
    width: 30px;
    margin: 5px;
    overflow: hidden;
    position: relative;

    .tv-show-poster {
      position: absolute;
      transform: translateY(-25%);
      width: 100%;
    }
  }
}
