$search-list-bg: $theme-black;
$search-list-item-border-colour: $theme-white;
$search-list-item-button-colour: $theme-green;
$search-list-box-shadow: $theme-black;

.search-result-list--wrapper {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgba($search-list-bg, .95);
  width: 100%;
  max-width: 100%;
  overflow: auto;
  max-height: 50vh;
  z-index: 10;
  box-shadow: 0px 5px 5px rgba($search-list-box-shadow, .5);

  .search-result-item--wrapper {
    display: flex;
    border-bottom: 1px solid rgba($search-list-item-border-colour, .2);
    align-items: center;

    .search-result-item--name {
      font-size: 12px;
      text-transform: uppercase;
      flex: 1;
    }
  }

  .tv-show-poster--wrapper {
    height: 30px;
    width: 30px;
    margin: 5px;
    overflow: hidden;
    position: relative;

    .tv-show-poster {
      position: absolute;
      transform: translateY(-25%);
      width: 100%;
    }
  }
  
  .button {
    margin: 0 5px;
  }
}
