$season-border-colour: rgba($theme-white, .2);
$season-episodes-wrapper-bg: rgba($theme-white, .125);

.season--wrapper {
  display: flex;
  padding: 5px 0;
  flex-direction: column;
  border-bottom: 1px solid $season-border-colour;

  .season--overview-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: $season-border-colour;
  }

  .season--season-complete {
    margin: 0 5px;
  }

  .season--count {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: lighter;
  }

  .season--episode-count {
    display: inline-block;
    font-size: 11px;
  }

  .season--toggle-view-episodes {
    margin-right: 5px;
    .isvg {
    }
  }

  .season--season-duration {
    display: inline-block;
    font-size: 11px;
    .isvg {
      svg {
        vertical-align: middle;
      }
    }
  }

  .season--season-duration--units-label {
    font-size: 8px;
    color: rgba($theme-white, .75);
  }

  .season--episodes-wrapper {
    background: $season-episodes-wrapper-bg;
    margin-top: 5px;
  }
}
