$panel-bg: $theme-black;
$panel-border: $theme-white;

.to-view-list--info-panel-wrapper {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: linear-gradient(0deg, rgba($panel-bg, .8) 10%, $panel-bg);
  box-shadow: 0px 5px 5px rgba($panel-bg,.5);
  border-radius: 2.5px;
  padding: 5px;
  border: 1px solid rgba($panel-border, .2);

  .tv-show-poster--wrapper {
    width: 100px;
    display: inline-block;
    vertical-align: text-top;
  }

  .tv-show-panel--seasons-list {
    min-height: 350px;
  }
  
  .tv-show-panel--header {
    display: flex;
  }

  .tv-show-panel--info-wrapper {
    flex: 1;
  }
  
  .tv-show-panel--info-wrapper {
    padding: 0 5px;
  }

  .tv-show-panel--title {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
  }

  .tv-show-panel--overview {
    font-size: 11px;
    color: #333;
    height: 115px;
    overflow: auto;
  }

  .tv-show-panel--close-button {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}
