@import 'theme/dark';
@import 'helpers/normalize';
@import 'mixins/networks';
@import 'mixins/mq';
@import 'elements/buttons';
@import 'elements/icons';
@import 'elements/inputs';
@import 'components/header';
@import 'components/header-navigation';
@import 'components/tv-search';
@import 'components/search-results';
@import 'components/tv-show-poster';
@import 'components/tv-show-list-item';
@import 'components/tv-show-panel';
@import 'components/network-badge';
@import 'components/season';
@import 'components/episode-list';
@import 'components/episode-item';
@import 'components/progress-bar';
@import 'components/summary-footer';
@import 'views/home';
@import 'views/about';

$app-bg: $theme-bg-colour;
$app-colour: $theme-colour;
$app-max-width: 960px;
$app-min-width: 320px;

a {
  color: $app-colour;
  text-decoration: none;
}

html,
body {
  max-height: 100vh;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, $app-bg 70%, darken($app-bg, 10%));
  height: 100%;
  max-height: 100vh;
  font-family: $app-font-family;
  color: $app-colour;
  min-width: $app-min-width;

  .app--container {
    @include mq($app-max-width) {
      width: $app-max-width;
      margin: 0 auto;
      position: relative;
    }
  }
}

